// paginación
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
    .page-link {
        font-size: .8rem;
        margin-right: 2rem;
    }

    a {
        color: #38b2ac;
    }
    span.page-link{
        color: #718096;
    }
}
